.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(../img/19366.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    align-items: center;
}
.home h1{
    margin: 10px 0 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 800px;
}
.home h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 600;
}
span{
    color: var(--main-color);
}
.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text p{
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    margin-bottom: 20px;
}
.social a{
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background: rgba(128, 103, 240, 1);
    color: var(--bg-color);
    margin-right: 22px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.social a:hover{
    transform: scale(1.2);
    background: var(--main-color);
    transition: .5s;
}
.btn{
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 30px;
    transition: .40s;
}
.btn:hover{
    transform: scale(1.2);
    transition: .5s;
}
.home-img img{
    max-width: 100%;
    width: 650px;
    height: auto;
}